@model Comment

<section class="panel panel-default">
    <div class="panel-heading">@Model.Id:</div>
    <div class="panel-body">@Model.Text</div>
    <div>
        <a class="btn btn-default" asp-action="Details" asp-route-id="@Model.Id">Details</a>
        <a class="btn btn-default" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    </div>
</section>