@model Comment

@{
    ViewBag.Title = "Edit";
}

<h1>Edit comment @Model.Id here:</h1>
    
@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.Text)
        @Html.EditorFor(m => m.Text)
        @Html.ValidationMessageFor(m => m.Text)
    </div>
    <div>
        <input type="submit" value="Save" />
    </div>
}
<br />