@model HomePageViewModel

@{ 
    ViewBag.Title = "Home";
}

<h1>Welcome!</h1>

@foreach (var comment in Model.Comments)
{
    @Html.Partial("_SingleComment", comment)
}
<br />

<div>
    <a asp-action="Create">Create</a>
    @*@Html.ActionLink("Create", "Create")*@
</div>
<br />

@section footer {
    <div>Copyright &copy; Eric's Website @DateTime.Now.Year</div>
}